.btn {
    padding: 0.5rem 1.5rem;
    border: 2px solid var(--accent-color) !important;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.btn:active,
.btn:focus {
    color: #ffffff !important;
    background-color: var(--accent-color) !important;
    box-shadow: var(--btn-shadow) !important;
}

.btn-primary {
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    color: #ffffff;
    background-color: var(--accent-color);
    box-shadow: var(--btn-shadow);
}

.btn-primary:hover {
    color: var(--accent-color) !important;
    background-color: #ffffff !important;
}

.btn-secondary {
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    color: var(--accent-color);
    background-color: #ffffff;
    border: 2px solid #ffffff !important;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.35);
}

.btn-secondary:hover {
    color: #ffffff !important;
    background-color: var(--accent-color);
}

.btn-secondary:active,
.btn-secondary:focus {
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.35) !important;
}