.navbar {
    background-color: var(--primary-color) !important;
}

.mail-icon {
    padding: 6px;
    padding-top: 4px;
    display: inline;
    border: var(--accent-color) solid 2px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}